h1, h2 {
	font-family: sans-serif;
	color:green;
    
                }
h1{
border-bottom: 2px solid black;
font-size: 2.2em;
}
h2{
    font-size: 1.2em;
}
body{
color:	black;
font-size: medium;
font-family: "Comic Sans";
border-width: 1px;
border-style: solid;
padding: 20px;
margin-left:120px;
margin-right: 100px;
margin-top: 30px;
background-color: #F0E4E4;
}
.maktab{
color: #D36E6E;
}
blockquote{
    font-family:"Times New Roman";
	font-size:130%;
    font-weight: bolder;
	color: #DF2525;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    padding-left: 80px;
    margin-right: 20px;
    background-image: url(../images/zakat.png);
	}
.rasm{
    padding: 10px;
    margin: 15px;
    background-position: top right;
}
