h1, h2 {
	font-family: sans-serif;
	color:gray;
                }
h1{
border-bottom: 2px solid black;
font-size: 2.2em;
}
h2{
    font-size: 1.2em;
}
body{
color:	black;
font-size: medium;
font-family: Comic Sans;
}
.maktab{
color: red;
}
blockquote{
    font-family:"Academy Tajik";
	font-size:120%;
	color: green;
	}

